body{
  background-image: url("../images/background-img.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
height: 100vh;
}

#canvas-position{
  display: flex;
  margin: auto;
  position: relative;
  justify-content: center;
  align-items: center;
}  

#background-canvas{

  display: flex;
  margin: auto;
  position: absolute;
}


canvas {
 
  display: flex;
  margin: auto; */
  position: absolute;
 }


