body {
  background-image: url("../images/background-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: flex;
  margin: auto;
  position: absolute;
}
